<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script th:src="|./js/contract.js?t=${tick}|"></script>
    <script th:src="|./js/contractApi.js?t=${tick}|"></script>
    <link th:href="|./css/style.css?t=${tick}|" rel="stylesheet" type="text/css" />

    <!-- bs5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container mt-3">

        <div class="right margin1">
            <b>Master Balance: <span id="cur_master_bal"></span></b><br><br>
            My Balance: <span id="cur_my_bal"></span><br>
            ETH: <span id="cur_eth_price"></span><br>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Position</th>
                <th>EntryPrice (ETH/BAT)</th>
                <th>Size</th>
                <th>Change</th>
            </tr>
            </thead>
            <tbody id="tbody_entry">

            </tbody>
        </table>

        <select class="form-select" aria-label="Default select example" style="width:150px; display: inline;">
            <option value="L">Long</option>
            <option value="S">Short</option>
        </select>
        <button id="bat_start" type="button" class="btn btn-primary">BAT</button>
    </div>
</body>

<script>
    initWeb3();

    let price = 0;

    async function weiToUSD(wei) {
        return price * await web3.utils.fromWei(wei, 'ether');
    }

    async function USDToWei(usd) {
        return await web3.utils.toWei(((usd / price).toFixed(8)).toString());
    }

    function onUpdate() {
        $.get('/api/price/ETH', async function (res) {

            price = res.data;
            $('#cur_eth_price').text('$' + price);

            let masterBal = (await weiToUSD(await web3.eth.getBalance(masterAddress))).toFixed(2);
            $('#cur_master_bal').text(`$${masterBal} (${(masterBal / price).toFixed(2)} ETH)`);

            let myBal = (await weiToUSD(await web3.eth.getBalance(account))).toFixed(2);
            $('#cur_my_bal').text(`$${myBal} (${(myBal / price).toFixed(2)} ETH)`);

            let bats = await getBats();
            let count = 0;
            $('#tbody_entry').empty();
            for (let i of bats) {
                if (i.isClose) {
                    count++;
                    continue;
                }

                let per = (Math.abs(i.entryValue - price) / i.entryValue * 10 * 100).toFixed(2);
                let bat = await weiToUSD(i.batValue);
                let size = parseFloat(bat);
                let sign = '-';
                if (price >= i.entryValue) {
                    sign = '+'
                    size += size * per * 0.01;
                }else {
                    size -= size * per * 0.01;
                }

                if (size <= 0) {
                    size = 0;
                }

                size = size.toFixed(2);
                let screenPer = sign + per + '%';

                $('#tbody_entry').append(`
                    <tr>
                        <td>${i.isBatLong ? 'Long' : 'Short'}</td>
                        <td>$${i.entryValue + ' -> $' + bat.toFixed(0)}</td>
                        <td>$${size}</td>
                        <td class="${screenPer}">${screenPer}</td>
                        <td><button id="position_clear" tx_index="${count++}" type="button" class="btn btn-primary">정리</button> </td>
                    </tr>
                `);
            }
        });
    }

    $('#bat_start').click(async function() {
        let sz = prompt("Enter the betting USD");
        if (sz) {
            bat(Math.floor(price), await USDToWei(sz));
        }
    });

    $(document).on("click", "#position_clear", function() {
        $.post(`/api/position/${account}/${$(this).attr('tx_index')}`, function (res) {
        });
    })

    var loadAccountAfter = setInterval(function () {
        if (this.account) {
            onUpdate();

            clearInterval(loadAccountAfter);
        }
    }, 100);

    var render = setInterval(function () {
        onUpdate();
    }, 1000 * 10);

</script>


</html>